---
import { getDirectusClient } from '../utils/get-directus-client'
import Default from '../layouts/default.astro'
import Header from '../components/Header.astro'

const directus = await getDirectusClient()

const home = await directus.singleton('home').read()
const { data: projects } = await directus
  .items('projects')
  .readByQuery({ fields: '*' })
import { nl2br } from '../utils/nl2br'
import AboutMe from '../components/AboutMe.astro'
import Projects from '../components/Projects.astro'
---

<Default title="Home" description="Frontend artist">
  <Header slot="header" hero={home?.hero} title={nl2br(String(home?.title))} />
  <div slot="content">
    <AboutMe
      image={home?.avatar}
      title={home?.about_title}
      text={home?.about_text}
    />

    <Projects title={home?.projects_title} projects={projects as any} />
  </div>
</Default>
